#logo{
    width: 130px;
    font-size: 32px;
    color: #0084ff;
    font-weight: 800;
  }
              
  #logostories{
    Margin: 0;
    font-weight: 500;
    font: Raleway;
  }
  
  .navbar{
    padding: 16px 78px;
    background-color: lightgoldenrodyellow;
    font-family: Raleway,sans-serif;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logos{
    float: left;
  }
  .dropdown{
    float: left;
    overflow: hidden;
    padding: auto;
    margin: auto;
    padding-left: 60px;
  }
  .dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: aquamarine;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a{
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content{
    display: block;
    position: fixed;
  }
  .dropdownicon{
    padding-top: 0px;
    padding-left: 8px;
   } 
   main{
     font-family: Raleway,sans-serif;
     margin-top: 120px;
     margin-left: 0px;
     margin-right: 0px;
     padding: 0px 160px;
     width: auto;
  }
  #heading{
    color: #000;
    font-weight: 600;
    margin: 0px;
    font-family: Raleway,sans-serif;
  }
  #filtertext{
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }
  .myDIV{
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
  }
  .btn{
    padding: 6px 14px;
    width: auto;
    color: #0084ff;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    background-color: white;
    float: left;
  }
  .active, .btn:hover{
    background-color: #0084ff;
    color:#fff;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  
  .card-wrapper{
    width : 80%;
    margin :auto;
  }
  
  .card-container {
    display : inline-block;
    cursor: pointer;
    overflow: hidden;
    width: calc(32% - 1%);
    height : 400px;
    margin-left : 1%;
    margin-right: 1%;
    margin-bottom : 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 168, 255, 0.3);
  }
  
  .card-content {
    padding: 16px 24px;
  }
  
  .card-img {
    width: 100%;
    height: 176px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .auth-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .card-author {
    color: #0096ff;
    font-size: 14px;
    font-style: Italic;
    font-weight: 500;
  }
  
  .card-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 300;
  }
  
  .card-title {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin: 0;
  }
  
  .card-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.6);
    margin: 12px 0;
  }
  
  
  @media only screen and (max-width: 768px) {
  
  .card-container {
    display : block;
    width: calc(100% - 20%);
  }
    
  }
  footer{
    background-color: #172146;
    Padding: 20px 16%;
  }
  footer p{
    font-size : 24px;
    color : aquamarine;
    text-align : center;
    padding : 6px;
  }
  